* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: rgb(241, 254, 227);
}

.middle {
    flex: 51234; /* to move footer to bottom of page by enlarging middle */
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.link {
    padding: 0.5rem 1.5rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: rgb(240, 255, 173);
}

.link:active {
    color: rgb(255, 173, 173);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background: #333;
    color: white;
}

.search-bar {
    width: 30rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 0.75rem;
    text-indent: 4%;
}

#product-sidebar {
    background-color: #fce5e5;
    display: flex;
}

#sidebar-align-product {
    flex: 2;
}

#add-product-button {
    background: rgb(255, 255, 210);
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    padding: 0.7rem;
    transition: color 0.5s ease;
}

#add-product-button:hover {
    background: rgb(240, 255, 173);
}

#add-product-button:active {
    background: rgb(255, 173, 173);
}

#product {
    flex: 78;
    padding: 20px;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 1rem;
}

.product {
    background-color: rgb(221, 255, 185);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}