html,
body {
    padding: 0;
    margin: 0;
}

/* ############################################################ */
.link {
    text-decoration: none;
    color: white;
}

.option {
    cursor: pointer;
}

.product-button {
    background: #ffcfcf;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    padding: 0.7rem;
    transition: color 0.5s ease;
}

.product-button:hover {
    background: #ffabab;
}

.product-button:active {
    background: #ff9090;
}

.search-bar {
    height: 100%;
    width: 20rem;
    border-radius: 0.75rem;
    text-indent: 4%;
}

/* ############################################################ */

.product {
    background-color: rgb(201, 249, 239);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

/* ############################################################ */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.content {
    flex: 1;
    /* to move footer to bottom of page by filling middle */
}

.header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

/* ############################################################ */
.sidebar-and-products {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 20;
}

.products {
    flex: 80;
}

/* ############################################################ */
.sidebar {
    display: flex;
    flex-direction: column;
}

.category-and-options {
    display: flex;
    flex-direction: column;
}

.option-list {
    display: flex;
    flex-direction: column;
}

/* ############################################################ */
.products {
    display: flex;
    flex-direction: column;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* ############################################################ */
.header {
    background-color: #333;
}

.footer {
    background-color: #333;
}

.content {
    background-color: rgb(241, 254, 227);
}

.products {
    background-color: #fce5e5;
}

.sidebar {
    background-color: #c4c4c4;
}

/* ############################################################ */

.header {
    block-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.footer {
    block-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.header .link,
.footer .link {
    margin: 0.5rem;
    padding: 1rem;
}

/* ############################################################ */
.sidebar {
    padding: 2rem;
    gap: 1rem;
}

.category-and-options {
    border: 2px solid #555;
    padding: 1rem;
    gap: 0.5rem;
}

.category-name {
    font-size: 1rem;
    font-weight: bold;
}

/* ############################################################ */

.products {
    padding: 2rem;
    gap: 2rem;
}

#product-list {
    gap: 2rem;
}